# System
.DS_Store

# IDE or eidtor
.idea/
.code/
*.vscode
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project  
*.sublime-workspace 
.project 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# cache
.eslintcache
/.sass-cache
*.css.map
*.js.map

# front base
dist/*
!dist/static
.history
node_modules
.npm
/.pnp
.pnp.js
coverage
*.local
/cypress/videos/
/cypress/screenshots/
*.tsbuildinfo

# current project
src/**/dist/

# 忽略代码风格配置文件，以便于每个人都有自己的配置
.prettierrc.js
.prettierignore
dprint.json
dprint.jsonc
.dprint.json
.dprint.jsonc